*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{vertical-align: top;}
.S_head{width: 887px;overflow: hidden;margin: 0 auto}
.ht_login{overflow: hidden;}
.S_head .ht_login span{color:#4b4b4b;font-size:12px;}
.S_ShowWelcome{width: 300px;height: 34px;line-height: 34px;float: right;}
.S_ShowWelcome a{color: #8cc341}
.S_landing{float: right;height: 34px;line-height: 34px;}
.S_landing a{color: #4b4b4b}
.S_content{width: 885px;border: 1px solid #c2c2c2;overflow: hidden;margin: 0 auto}
.S_title{height: 40px;background-color: #ffecf2;font-size: 18px;line-height: 40px;padding-left: 20px;
font-weight: bold;}
.S_tip{height: 60px;line-height: 60px;font-size: 13px;padding-left: 20px;border-bottom: 1px
solid #b33b57}
.S_noCart{padding: 20px 0;text-align: center;font-size: 14px;color:#6a6a6a }
.S_mstext{background-color:#ffecf2;padding-left: 20px;padding-bottom: 15px;font-size: 10px;color:#6a6a6a}
.S_mstext p{padding-top: 10px;}
.S_Cart{font-size: 12px}
.S_Cart table{border-collapse: collapse;}
.S_th{width: 885px;height: 36px;line-height: 36px;background-color: #ddd}
.S_th th{float: left;height: 36px;}
.S_th1,.S_td1{width: 158px;}
.S_th2,.S_td2{width: 300px;text-align: left;}
.S_th3,.S_td3{width: 100px;}
.S_th4,.S_td4{width: 80px;}
.S_th5,.S_td5{width: 80px;}
.S_th6,.S_td6{width: 86px;}
.S_th7,.S_td7{width: 81px;}
.S_Carts{background-color: #fffddd;width: 885px;height: 100px;border-bottom: 1px dashed #ccc}
.S_Carts td{height: 100px;float: left;text-align: center;line-height: 100px}
.S_td1 a img{width: 70px;height: 70px;padding:15px;padding-left: 44px}
.S_Carts .S_td2 {text-align: left;line-height: inherit;position: relative;}
.S_td2 a{text-decoration: underline}
.S_td2 p{padding-top: 20px}
.S_payment{width: 885px;height: 43px;border-bottom: 1px dashed #ccc;text-align: right;line-height: 43px;}
.S_payment span:nth-child(2){font-size: 16px;color: #d80100;font-weight: bold;padding-right: 30px}
.S-amount{font-size: 13px;font-weight: bold;color: #000}
.S_td7{color: red;font-size: 12px}
.S_resultbtn{height: 50px;text-align: right;position: relative;}
.S_resultbtn img{padding-top: 10px;margin-right: 20px}
.S_resultbtn a:nth-child(1){margin-right: 20px;text-decoration: underline;margin-top: 10px;}
.S_resultbtn input{padding-top: 10px;margin-right: 20px;vertical-align: middle;height:29px;}
.S_list{width: 885px;font-size: 14px;}
.S_list .S_nav{width: 885px;height: 37px;line-height:38px;background-color:#ddd;color:#dc0000;
	font-size: 14px;font-weight: bold;padding-left: 10px;border-bottom: 1px dashed #ccc}
.S_list a{text-decoration: underline;color:#325bc4;line-height: 16px;}
.S_list div:nth-child(2){padding-top: 20px;padding-left: 20px;border-bottom: 1px solid #b33b57;font-weight: bold;height: 30px;font-size: 12px}
.S_list div:nth-child(2) span{color:red;}
.S_list div:nth-child(2) a{height: 16px;display: inline-block;padding-top: 6px}
.S_redemption{width: 885px;font-size: 12px;border-bottom:1px dashed  #cdcdcd;overflow: hidden;}
.S_redemption1{width: 200px;height: 240px;margin-left: 20px;float: left;}
.S_redemption1_top{width: 200px;height: 110px;}
.S_redemption1_top img{width: 110px;height: 110px;float: left;}
.S_redemption1_top_newp{float:left;width:90px;}
.S_redemption1_top_newp a{text-decoration: none;color: #7F7F7F;line-height: 16px;font-family: '微软雅黑';font-size:12px; }
.S_redemption1_top_newp p:nth-child(2){text-decoration: line-through;font-size: 12px;color: #7F7F7F;}
.S_redemption1_top_newp p:nth-child(3){font-size: 12px;color:#cb0000;margin-top: 5px}
.S_redemption1 p:nth-child(4){color:#cb0000;font-weight: 800;padding-top:5px; }
.S_redemption1 a:last-child img{margin-top: 8px}
.S_redemption2{width: 200px;height: 240px;margin-left: 20px;float: left;}
.S_redemption2_top{width: 200px;height: 110px;}
.S_redemption2_top img{width: 110px;height: 110px;float: left;}
.S_redemption2_top_newp{float:left;width:90px;}
.S_redemption2_top_newp a{text-decoration: none;color: #7F7F7F;line-height: 16px;font-family: '微软雅黑';font-size:12px; }
.S_redemption2_top_newp p:nth-child(2){text-decoration: line-through;font-size: 12px;color: #7F7F7F;}
.S_redemption2_top_newp p:nth-child(3){font-size: 12px;color:#cb0000;margin-top: 5px}
.S_redemption2 p:nth-child(4){color:#cb0000;font-weight: 800;padding-top:5px; }
.S_redemption2 a:last-child img{margin-top: 8px}
.S_redemption3{width: 200px;height: 240px;margin-left: 20px;float: left;}
.S_redemption3_top{width: 200px;height: 110px;}
.S_redemption3_top img{width: 110px;height: 110px;float: left;}
.S_redemption3_top_newp{float:left;width:90px;}
.S_redemption3_top_newp a{text-decoration: none;color: #7F7F7F;line-height: 16px;font-family: '微软雅黑';font-size:12px; }
.S_redemption3_top_newp p:nth-child(2){text-decoration: line-through;font-size: 12px;color: #7F7F7F;}
.S_redemption3_top_newp p:nth-child(3){font-size: 12px;color:#cb0000;margin-top: 5px}
.S_redemption3 p:nth-child(4){color:#cb0000;font-weight: 800;padding-top:5px; }
.S_redemption3 a:last-child img{margin-top: 8px}
.T_nav{width: 887px;overflow: hidden;}
.T_nav a{margin-left: -1px;float: left;}
.T_nav img{float: left;}
.T_nav img:nth-child(3){margin-top: 10px;}
.T_user{width: 887px;border: 1px solid #999999;margin: 0 auto;padding: 3px;font-size: 12px;overflow: hidden;color: #5d5d5d;font-weight: bold;}
.T_user p:nth-child(1){background-color:#ffecf2;width: 887px;height: 46px;font-size: 19px;line-height: 46px;padding-left: 22px;}
.T_user p:nth-child(2){width: 857px;height:50px;font-size: 14px;border-bottom:7px solid #b43f5c;line-height: 50px;padding-left: 30px}
.T_users{width: 800px;margin: 0 auto;padding-top: 18px;}
.T_users li{margin-bottom: 6px;overflow: hidden;}
.b2{font-size: 14px;font-style: normal;color: #F30;font-weight: bold}
.b1{border: 1px solid #759dbc;padding: 4px;background-color: #f4f4f4;}
.b3{border: 1px solid #759dbc;padding: 4px;background-color: #f4f4f4;width: 440px;}
.form-control{height: 21px;}
.T_save{margin-top:9px;margin-bottom: 7px; width: 90px;height: 30px;background-color:#ab2b4e;border-style: none;font-size: 14px;text-align: center;border-radius: 10px;color: #fcfbf6;margin-left: 120px;float: left;cursor: pointer;}
.T_clear{margin-bottom: 0;margin-top: 15px; width: 50px;height: 30px;color: #0257cc;text-decoration: underline;float: left;margin-left: 150px;line-height: 30px;cursor: pointer;font-weight: normal}
#adds{
        width: 80px;
        margin: 0 auto;
    }
    .clearOnes{
        display: none;
        width: 200px;
        height: 56px;
        position: absolute;
        top: 0;
        left:-90px;
        text-align: center;

    }
    #clearAlls{
        display: none;
        width: 200px;
        height: 56px;
        position: absolute;
        top: -40px;
        right:212px;
        text-align: center; 

    }
    #clearAll{

        width: 200px;
        height: 50px;
        background-color: #FDF2E3;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #DFC9B2; 
    }
    .clearOne{
        width: 200px;
        height: 50px;
        background-color: #FDF2E3;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #DFC9B2; 
    }
    .clearOne p:nth-child(1),#clearAll p:nth-child(1){
        color: rgb(202, 8, 9);
        font-size: 12px;
        font-family: "宋体";
        padding-top: 15px;
    }
    .clearOne span:nth-child(2),#clearOne span:nth-child(3),
    #clearAll span:nth-child(2),#clearAll span:nth-child(3)
    {
        color:#1A66B3;
        font-size: 12px;
        font-family: "宋体";
        cursor: pointer;
        margin-left: 5px;
    }
    .c_d{
        width: 9px;
        height: 6px;
        margin: 0 auto;
        position: absolute;
        top: 50px;
        left: 98px;
        margin-top: -1px;
        font-size: 0;
        overflow: hidden;
        background: url(http://images.d1.com.cn/images2012/New/flow/p_window_b.gif) no-repeat;
    }
    .c_c{
        width: 9px;
        height: 6px;
        margin: 0 auto;
        position: absolute;
        top: 50px;
        left: 98px;
        margin-top: -1px;
        font-size: 0;
        overflow: hidden;
        background: url(http://images.d1.com.cn/images2012/New/flow/p_window_b.gif) no-repeat;
    }
    #h-top-l{
        float: left;
        width: 440px;
        height: 34px;
        line-height: 34px;
    }
    #h-top-l p{
        font-size: 14px;
    }







